<div class="panel panel-default">
  <div class="panel-heading">
    <div class="title">
      <i class="fa fa-pencil"></i>
      <%=t 'tag' %>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel panel-default panel-body">
      <p>You have reached the <b>maximum tags limit</b>, please contact us. <%= mail_to 'support@nearspeak.at'%></p>
    </div>
  </div>
</div>