<div class="box bordered-box purple-border">
  <div class="box-header nearspeak-light-background">
    <div class="title">
      <i class="icon-edit"></i>
      <%=t 'tag' %>
    </div>
    <div class="actions">
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>

  <div class="box-content box-double-padding">
    <p>You have reached the <b>maximum tags limit</b>, please contact us. <%= mail_to 'support@nearspeak.at'%></p>
  </div>
</div>