<div class="login-container-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <a href="mailto:office@nearspeak.at">&copy; 2015 Nearspeak</a> | <a href="https://www.nearspeak.at/terms-of-use/"><%=t :footer_terms %></a> | <a href="https://www.nearspeak.at/contact/"><%=t :footer_contact %></a>
        </div>
      </div>
    </div>
  </div>
</div>
